<% provide :title, t(".title") %>
<body class="home">
  <div class="center">
    <h1 class="home"><%= t ".header1" %></h1>
    <h2 class="home">
      <%= t ".header2" %>
    </h2>
    <p class="bt_position"><%= link_to t(".signup_link"), "#", class: "btn btn-lg btn-success" %></p>
  </div>
</body>
